tabWidth: 4
singleQuote: true
printWidth: 80
useTabs: false
semi: true
trailingComma: 'none'
bracketSpacing: true
jsxBracketSameLine: false
arrowParens: 'avoid'
rangeStart: 0
rangeEnd: Infinity
requirePragma: false
insertPragma: false
proseWrap: 'preserve'